{% extends 'base.html'%}
{%block content%}
{% for hotel in hotels %}
    <div class="review card">
      <div class="card-header">
        {{hotel.id}}
      </div>
      <ul class="list-group list-group-flush">
          <li class="list-group-item"><img alt="'hotel" src={{hotel.photo_url}}></li>
         <li class="list-group-item">Name: {{hotel.name}}</li>
         <li class="list-group-item">Price: {{hotel.price}}</li>
         <li class="list-group-item">Number_rooms: {{hotel.number_rooms}}</li>
         <li class="list-group-item">Number_stars: {{hotel.number_stars}}</li>
         <li class="list-group-item">Address: {{hotel.address}}</li>
         <li class="list-group-item">Description: {{hotel.description}}</li>
         <li class="list-group-item">
            <a class="btn btn-dark" href="{% url 'hotel_review_list' hotel_id=hotel.id%}" role="button">Reviews</a>
            {% if user.is_authenticated %}
                <a class="btn btn-dark" href="{% url 'add_review' hotel_id=hotel.id%}">Add review</a>
                {% if user.is_superuser %}
                <a class="btn btn-dark" href="{% url 'edit_hotel' hotel_id=hotel.id%}" role="button">Edit book</a>
                {% endif %}
            {% endif %}
        </li>
      </ul>
    </div>
{% endfor %}
{% endblock %}